.rocket {
  display: flex;
  margin: 1.5%;
}

.rocket-img-container {
  display: flex;
  justify-content: center;
}

.rocket-img {
  height: 8.5rem;
  margin: auto;
  width: 10.5rem;
  margin-right: 1.5rem;
}

.rocket-detail {
  width: 80%;
}

.rocket-detail h5 {
  margin: 0;
}
